<ul>
  <li>Nome: {{model.firstName}}</li>
  <li>Ultímo nome: {{model.lastName}}</li>
  <li>E-mail: {{model.email}}</li>
  <li>Data de nascimento: {{model.birthDay}}</li>
  <li>Salário: {{model.salary}}</li>
</ul>

{{link-to 'Voltar' 'person'}}
